/* icons */

.ui-icon-logo {
  background-image: url("../img/glarus_logo.png");
/*  background-image: url("../img/uster_logo.png"); */
/*  background-image: url("../img/winterthur_logo.png"); */
}

.ui-icon-compass {
  background-image: url("../img/compass.svg");
}

.ui-icon-location_off {
  background-image: url("../img/positioning_off.png");
}

.ui-icon-location_on {
  background-image: url("../img/positioning_on.png");
}

.ui-icon-searching {
  background-image: url("../img/search.png");
}

.ui-icon-layers {
  background-image: url("../img/layers.svg");
}

.ui-icon-properties {
  background-image: url("../img/properties.svg");
}

/* button positions */

#btnCompass {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#btnLocation {
  right: 55px;
}

#btnSearching {
  right: 5px;
}

#btnLayers {
  left: -25px;
  bottom: 5px;
}

#btnProperties {
  right: -25px;
  bottom: 5px;
}

/* geolocation */

#locationMarker {
  background-image: url("../img/location.svg");
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
}

/* layer order */

#listOrder {
  width: 260px;
}

#listOrder .ui-li {
  border-bottom-width: 1px;
  margin-bottom: -1px;
}

/* properties */

#properties .ui-field-contain .ui-slider-switch {
  float: right;
}

/* misc */

.scrollable {
  overflow: auto;
}

/* OpenLayers 3 */

#map {
  text-shadow: white 0 0 0;
}

.ol-scale-line {
  background-color: transparent;
  left: inherit;
  right: 40px;
}

.ol-scale-line-inner {
  color: black;
  font-size: 10pt;
  font-weight: bold;
  border-color: black;
  border-style: none none solid none;
  border-bottom-width: 4px;
  opacity: 0.6;
}

/* jQuery mobile */

.ui-content {
  padding: 0;
}

.ui-btn-icon-notext {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
}

.ui-btn-icon-notext .ui-btn-inner .ui-icon  {
  background-color: transparent;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  box-shadow: none;
  border-radius: none;
  margin: 4px;
}

.ui-input-clear {
  width: 24px;
  height: 24px;
}

.ui-input-clear .ui-btn-inner .ui-icon-delete {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('../lib/jquery/images/icons-18-white.png');
  background-size: 864px 18px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 2px 1px 2px 3px;
}

#searchResultsList .ui-li .ui-btn-text a.ui-link-inherit {
  font-weight: normal;
  margin-left: -12px;
}

.ui-panel-inner {
  padding: 8px;
}

/* override panel width */

.ui-panel {
  width: 20em;
}
.ui-panel-position-left {
  left: -20em;
}
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
  -webkit-transform: translate3d(-20em,0,0);
  -moz-transform: translate3d(-20em,0,0);
  transform: translate3d(-20em,0,0);
}
.ui-panel-position-right {
  right: -20em;
}
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
  -webkit-transform: translate3d(20em,0,0);
  -moz-transform: translate3d(20em,0,0);
  transform: translate3d(20em,0,0);
}
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
  left: 20em;
  right: -20em;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
  -webkit-transform: translate3d(20em,0,0);
  -moz-transform: translate3d(20em,0,0);
  transform: translate3d(20em,0,0);
}
.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-right.ui-panel-dismiss-open {
  left: -20em;
  right: 20em;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
  -webkit-transform: translate3d(-20em,0,0);
  -moz-transform: translate3d(-20em,0,0);
  transform: translate3d(-20em,0,0);
}
@media (min-width:55em) {
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
    margin-right: 20em;
  }
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
  .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
    margin-left: 20em;
  }
}
