.ui-content {
  padding: 0;
}

.ui-panel {
   width: 300px;
}

.scrollable {
  overflow: auto;
}

.ui-icon-share {
  background-image: url("../img/share.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 0;
}

.ui-icon-properties {
  background-image: url("../img/properties.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 0;
}

.ui-icon-searching {
  background-image: url("../img/search.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 0;
}

.ui-icon-layer {
  background-image: url("../img/layer.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 0;
}

.ui-icon-winterthur_logo {
  background-image: url("../img/winterthur_logo.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 0;
}

.ui-icon-uster_logo {
  background-image: url("../img/uster_logo.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 0;
}

.ui-icon-glarus_logo {
  background-image: url("../img/glarus_logo.png");
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 0;
}

.ui-btn-icon-notext .ui-btn-inner .ui-icon  {
  background-color: transparent;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: none;
  margin: 5px;
}

.ui-icon-compass {
  background-image: url("../img/compass.svg");
}

.ui-icon-location_off {
  background-image: url("../img/positioning_off.png");
}

.ui-icon-location_on {
  background-image: url("../img/positioning_on.png");
}

.ui-btn-icon-notext {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
}

#btnCompass {
  right: 5px;
}

#btnLocation {
  right: 5px;
  top: 95px;
}

#locationMarker {
  background-image: url("../img/location.svg");
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
}
